#img {
   width: 920px;
   height: 650px;
}

#proximo{
   width: 100px;
   height: 50px;
   color: aliceblue;
   background-color: cornflowerblue;
   border-radius: 30%;
   cursor: pointer;
}

body {
   text-align: center;
   background-color: aquamarine;
}